.divClass {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

input {
  max-width: 100%;
}

table {
  table-layout: fixed !important;
  width: 100% !important;
}

.button__section {
  height: 40px !important;
}
